.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vissim-python.iml
.idea/workspace.xml
CTI/CTI.pyc
CTI/CTItesting.pyc
CTI/__init__.pyc
CTI/cdm03bidir.so
ETC/ETC.pyc
ETC/__init__.pyc
ETC/web/cgi-bin/pages.pyc
analysis/CTIpower.pyc
analysis/FlatfieldCalibration.pyc
analysis/PSFbasisSets.pyc
analysis/PSFproperties.pyc
analysis/__init__.pyc
analysis/analyse.pyc
analysis/analyseGhosts.pyc
analysis/analyseSpotMeasurements.pyc
analysis/biasCalibration.pyc
analysis/centroidPSFs.pyc
analysis/cosmicrayCalibration.pyc
analysis/fitPSF.pyc
analysis/fitPSFmodel.pyc
analysis/nonlinearityCalibration.pyc
analysis/nonlinearityModelTransfer.pyc
analysis/shape.pyc
analysis/sourceFinder.pyc
analysis/testCTIcorrection.pyc
fitting/__init__.pyc
fitting/fitting.pyc
fortran/cdm03bidir.so
postproc/__init__.pyc
postproc/postprocessing.pyc
postproc/tileCCD.pyc
postproc/tileFPA.pyc
reduction/__init__.pyc
reduction/reduceVISdata.pyc
sandbox/MTF.pyc
sandbox/__init__.pyc
simulator/__init__.pyc
simulator/generateGalaxies.pyc
simulator/simulator.pyc
sources/__init__.pyc
sources/createObjectCatalogue.pyc
sources/generatePostageStamps.pyc
support/VISinstrumentModel.pyc
support/__init__.pyc
support/bleedingtest.pyc
support/cosmicrays.pyc
support/files.pyc
support/fitting.pyc
support/imageManipulation.pyc
support/logger.pyc
support/sextutils.pyc
support/surfaceFitting.pyc
.idea/other.xml
.idea/testrunner.xml
